.top-bar {
  background-image: url("../assets/img/bg-top.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .miniket-rice {
  background-image: url("../assets/img/first_bar.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.rice-collection {
  background-image: url("../assets/img/rice_collection.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.one-hour-delivery {
  background-image: url("../assets/img/second-curve.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-product {
  background-image: url("../assets/img/wave.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* curve css */
/* #wave {
  position: relative;
  height: 70px;
  width: 600px;
  background: #e0efe3;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
} */

.card-delivery {
}
.card-delivery img:first-child {
  /* object-fit: cover; */
  /* object-position: inherit; */
  /* height: max-content; */
  /* width: max-content;  */
  /* max-width: 100%; */
  /* min-width: 50%; */
  /* width: 100%; */
  /* object-fit: contain;
  max-width: 50%; */
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.492188) 21.88%,
    rgba(255, 255, 255, 0.9) 100%
  );
}
