<div class="top-bar h-[80vh]">
  <div
    class="grid h-[70vh] w-5/6 grid-cols-2 grid-rows-2 gap-4 mx-auto pl-[3vw]"
  >
    <div class="row-span-2 h-/ miniket-rice">
      <p class="px-10 pt-20 text-4xl font-bold text-white">
        New Miniket Rice Collection
      </p>
      <p class="px-10 pt-4 text-white">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est dicta
        nihil vitae obcaecati. At commodi, quaerat harum autem, officiis nostrum
        vitae libero, qui alias cum error ipsa consequatur repellat rerum.
      </p>
    </div>
    <div class="rice-collection">
      <p class="px-10 pt-10 font-bold text-red-500">Best Rice For You....</p>
      <p class="px-10 pt-2 text-3xl font-bold text-black">
        New Miniket Rice Collection
      </p>
      <p class="w-1/2 px-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
        Dicta libero impedit et ducimus, <br />
        laborum magni repellendus obcaecati odio vero illo?
      </p>
    </div>
    <div class="one-hour-delivery">
      <p>New Miniket Rice Collection</p>
    </div>
  </div>
</div>
